 /* Propriétés générales */
@font-face
{
	font-family: 'policeturkey' ; 
	src: url('../Ressources/police/policeturkey.eot') format('eot') , 
         url('../Ressources/police/policeturkey.woff') format('woff') ,
         url('../Ressources/police/policeturkey.ttf') format('truetype') ,
         url('../Ressources/police/policeturkey.svg') format('svg') ;
}

 body {
	color: white;
	background-image: url(../Ressources/images/design/fond_ecran.png);
}

#body {
	background-color: rgb(99,115,127);
	width: 960px;
	height: auto;
	margin: 0 auto;
}

.fin_float {
	clear: both;
}

ul {
	list-style-type: none;
}

/* slider */
table {
	border-collapse:separate;
	border-spacing:0;
}

caption, th, td {
	text-align:left;
	font-weight:normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content:"";
}

blockquote, q {
	quotes:"" "";
}

.slider-wrapper { 
	width: 90%; 
	margin: 20px auto;
}

.clear {
	clear:both;
}

/* Style des liens */
a {
  text-decoration: none;
  color: white;
}

a:visited {
	text-decoration:none;
}

a:hover, a:active {
	color:#000;
	text-decoration:none;
}

/* Bannière */
#banniere {
	height: 200px;
	width: 960px;
	margin: 0 auto;
	background-color: rgba(0,0,0,0.6);
	background-repeat: no-repeat;
}

.banniere {
	float: left;
}

#logo_ft {
	width: 30%;
	height: 80%;
}

#banniere_ft {
	width: 40%;
	height: 80%;
	margin: 0 auto;
	padding: 2% 0;
}

#connexion_deconnexion {
	float: right;
	width: 30%;
	height: 80%;
	padding: 2% 0;
}

/* Style du menu de navigation */
#div_navigation {
	background-image: url(../Ressources/images/design/barre_menu.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px;
	width: 960px;
	margin : 0 auto;
	color: white;
	font-family: 'policeturkey';
	font-size: 20px;
	padding-top: 10px;
}

#navigation {
	width: 960px;
	height: 50px;
	margin: 0 auto;
	padding: 5px 0 0 0;
}

.nav_item {
	float: left;
	height: 50px;
	width: 158px;
	text-align: center;
	vertical-align: middle;
	line-height: 40px;
	padding-left: 1px;
	padding-right: 1px;
}

#navigation li ul { 
        position: absolute;
        left: -999em;
}

#navigation li:hover ul ul, #navigation li.sfhover ul ul {
        left: -999em;
}

#navigation li:hover ul, #navigation li li:hover ul, #navigation li.sfhover ul, #navigation li li.sfhover u l{
        left: auto;
        min-height: 0;
}

.sous_navigation>li {
	background-color: pink;
	background-repeat: no-repeat;
	background-position: center center;
	margin : 0 auto;
	color: white;
	font-family: 'policeturkey';
	font-size: 20px;
	padding-top: 10px;
}



/* footer */
#footer {
	background-color: rgb(45,53,58);
	height: 25px;
	width: 960px;
	margin: 0 auto;
	color: white;
	text-align: center;
}

/* Style général des articles */
.article {
	margin: 0 auto;
	width: 95%;
}

/* Style de l'accueil */
#accueil_slideshow {
	width: 100%;
	margin: 0 auto;
	background-color: rgb(45,53,58);
}

.title {
	color: white;
	font-family: 'policeturkey';
	font-size: 20px;
	background-image: url(../Ressources/images/design/fond_titre.png);
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	margin: 0 auto;
}

#accueil_left {
	float: left;
	width: 65%;
}

#accueil_right {
	float: right;
	width: 35%;
}

.contenu {
	width: 95%;
	margin: 15px auto;
	padding: 5px 5px 15px 5px;
}

.accueil, .contact {
	width: 95%;
	margin: 15px auto;
	background-color: rgb(45,53,58);
}

.news {
	width: 98%;
	margin: 15px auto;
	padding: 10px 4px;
	border-style: ridge;
	border-color: black;
	border-width: 3px;
}

#contenu_news {
	width: 95%;
	margin: 15px auto;
}

.news_title {
	text-align: center;
	font-family: 'policeturkey';
	font-size: 16px;
	padding: 0 20px;
	font-weight: bold;
}

.news_redacteur {
	text-align: right;
	padding-right: 20px;
	padding-bottom: 10px;
	font-family: 'policeturkey';
	font-size: 14px;
}

.news_image_bdd {
	float: left;
	padding: 0 15px 0 0;
}

.lien_news_suite {
	font-family: 'policeturkey';
	float: right;
	padding-right: 50px;
	font-size: 12px;
}

/* Style du contact */
#contact_gauche {
	float: left;
}

#contact_droite {
	float: right;
}

#contact_bas {
	text-align: center;
	margin: 0 auto;
}

.champs_contact {
	display: block;
	margin: 0 auto;
	padding: 15px;
}