 /* Propriétés généraes */
 body {
	color: black;
}

.fin_float {
	clear: both;
}

ul {
	list-style-type: none;
}

/* Style des liens */
a {
  text-decoration: none;
}
a:visited {
  color: #844;
}
a:hover, a:focus, a:active {
  font-weight: bold;
}

/* Bannière */
#banniere {
	height: 390px;
	background-position: center center;
	background-image: url(../Ressources/images/banniere.jpg);
	background-repeat: no-repeat;
}

/* Style du menu de navigation */
#div_navigation {
	width: 500px;
	margin : 0 auto;
}

.nav_item {
	float: left;
	width: 50px;
	margin: 5px 10px 5px 10px;
}